* {
  box-sizing: border-box;
  margin: 5em;
}

header {
  background-color: black;
  color: beige;
}

body {
  background-color: orange;
  padding: 2re;
}

main {
  background-color: black;
  color: beige;
}
